.center {
    text-align:center;
}

header {
      text-align: center;
    padding: 1rem 0;
    box-shadow: 0 0 30px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,.12);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,.12);
}

header h1 {
    font-size: 1.5rem;
}

h2{
font-size :2rem;    
}


.spacer-top-bot {
    padding: 2rem 0;
}

.mini-spacer-top-bot{
    padding:0.5rem 0;
}

.body-content{
    padding: 2rem 0;
}  


.body-content h1{
    font-size: 2rem;
    color: #000;
}